<h1>Bookmarks</h1>
<div>
  <% @bookmarks.each do |bookmark| %>
    <h3><a href=<%= bookmark[:url] %> target='_blank'><%= bookmark[:title] %> </a></h3>
    <p><%= bookmark[:description] %></p>
  <% end %>
</div>
