<div>
  <form action='/create' method='post'>
    <label for="URL"> Add title and url here:</label>
    <input type="text" name="URL">
    <input type="text" name="title">
    <input type="submit" value="Submit">
  </form>
</div>
