<div>
  <form action='/update/<%= params[:id] %>' method='post'>
    <label for="url"> Update title and url:</label>
    <input type="text" name="url">
    <input type="text" name="title">
    <input type="submit" value="update">
  </form>
</div>
